@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;  
}

.grey{
    color: #918E9B;
}
.bold{
    font-weight: 600;   
}
.container {
    padding: 0 25px;
    margin: 0 auto;
}

.Header {
    height: 70px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 20px 35px;
}

.Hero .container{
    display: flex;
    flex-direction: column;
}
.Hero .container > h1{
    margin-bottom: 16px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 36px;
}
.Hero .container >p{
    width: 320px;
}
.Hero .Group{
    margin-top: 25px;
    max-width: 400px;
    align-self: center;
}

.Card{
    width: 175px;
    font-size: 12px;
    position: relative;
    margin: 0 15px;
}
.Card p{
    padding: 6px 0;
}
.Card-img{
    max-height:234px;
    width: 100%;
    border-radius: 10px;
}
.card-state{
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: white;
    padding: 3px;
    font-size: 10px;
    border-radius: 6px;
}
.card-stats{
    display: flex;
    align-items: center;
}
.card-star{
    width: 14px;
}
.Slider .data{
    display: flex;
    margin: 20px auto;
}